<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="style.css" />      <!-- here we linked our css file to change the styling of our page-->
</head>
<body>
    <h1>home</h1>
    <p>Yo sup <%= locals.name %></p>        <!--  here we added our variable to make the changes...   -->
    <p>trying out <%= 10 + 10 %></p>   
    <p>trying out <%= locals.undeeffef %></p>       <!-- its best if you use locals.variable to access a variable from js to ejs -->
</body>

<script src="script.js" ></script>

</html>